# Example 'autocrafts.yml'

name: Generate GitHub Portfolio

on:
  # Triggers the workflow at midnight UTC every day / Adjust the cron schedule as needed.
  schedule:
    - cron: '0 0 * * *' 
  # OR Run it manually thru the GitHub Actions tab
  workflow_dispatch:

# Required strictly for GitHub Pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 1. Use a custom action to fetch GitHub data and generate a JSON payload for the portfolio
      - name: Generate JSON payload
        uses: riteshraj-shetage/?@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_PAT }}
          config-file: './config.json'

      # 2.

      # 3. Setup Bun
      - name: Setup Bun environment
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      # 4. Compile the Vite/React UI 
      - name: Build the React Portfolio
        run: |
          bun install --frozen-lockfile
          bun run build

      # 5. Package the Vite output 
      - name: Upload Vite Build Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist' 

      # to be comtinued with GitHub Pages deployment steps